/* you will add css rules for element selectors and IDs */
html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* you may add to or change the body rule */
body {
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}

header {
  display: flex;
  padding: 1rem;
  background: #282828;
  text-align: center;
  justify-content: center;

}

h2 {
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  color: #000;
  padding: 2rem 1.5rem 2rem 1.5rem;
  align-items: center;
  justify-content: center;
}

section {
  max-width: 600px;
  flex: 1 1 0;
}

section.text {
  padding-bottom: 1rem;
  line-height: 2rem;
  font-size: 1rem;
}

section h2 {
  margin: 0;
}

img {
    max-width: 100%;
}

.img-bulge {
  transform: scale(1.05);
  cursor: pointer;
}

.img-shrink {
  transform: scale(0.95);
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.no-blur {
  filter: none;
  cursor: default;
}

.pointer-no-blur {
  filter: none;
  cursor: pointer;
}

.container {
    width: 100%; /* DO NOT delete or change this line */
}

footer {
  text-align: center;
  padding: 15px;
  background: #282828;
}
